* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 600px;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 5rem;
    text-align: center;
    color: #ff5533b6
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 100%;
    width: 500px;

    margin: 10px auto;
    padding: 1rem;
    background-color: #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;

}

.input:focus-visible {
    outline: 2px solid #ff5433;

}

.add {
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #ff5433;
    color: white;
    font-size: 18px;
    padding: 10px 5px;
}



ul {
    width: 100%;
}

.todo li {
    background-color: white;
    min-width: 80%;
    margin: 10px auto;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.todo li.completed {
    color: rgb(169, 167, 167);
    text-decoration: line-through;
}

.todo li .del {
    background-color: #ff5433;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

small {
    color: #b5b5b5;
    font-size: 0.7rem;
    text-align: center;
}